<head>
<link rel="stylesheet" href="/sample.css">
</head>
<div class="form-wrapper">
  <h1>Check your email</h1>
  <form action="/auth3" method="post">
    <div class="form-item">
      <label for="text"></label>
      <input type="text" name="onetimepass" required="required" maxlength="7" placeholder="Password"></input>
    </div>
    <div class="button-panel">
      <input type="submit" class="button" title="certify" value="certify" ></input>
    </div>
  </form>
    <div class="form-footer">
  </div>
</div>